.App {
  padding: 1rem;
}
.App .userInfo {
  width: 100%;
}
.App button {
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: 2px solid var(--clr-primary);
  background-color: transparent;
  color: var(--clr-primary);
}
