*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --breakpoint-lg: 1800px;
  --breakpoint-md: 1440px;
  --breakpoint-lg: 770px;
  --breakpoint-lg: 450px;
  --clr-bg-primary: #027ffe;
  --clr-text-primary: rgb(69, 69, 69);
  --clr-text-secondary: white;
}
html {
  font-size: 16px;
  font-family: sans-serif;
}
